#! /usr/bin/env bash
# ────────────────────────────────────────────────────────────
# 📝 Direnv Auto-Activation for Virtual Environment (venv)
# This script automatically activates the Python virtual environment
# when entering the project directory and unloads it when leaving.
# ────────────────────────────────────────────────────────────

echo "____________________________ Direnv Activated __________________________________"
echo "📝 Exporting environment variables from .env file to shell"
# Load environment variables from .env
set -a # Export all variables
source .env # Load environment variables from .env file
set +a # Stop exporting variables

# Activate Python virtualenv
source ./venv/bin/activate

# Ensure local module resolution (e.g., `from app.models import X`)
export PYTHONPATH=./app

echo "📂 Directory: $PWD"
echo "🐍 Active Python:  $(which python)"
echo "🔍 Pytest binary:  $(which pytest || echo 'not installed')"
echo "________________________________________________________________________________"

# Prevent duplicate virtual environment name in prompt
export VIRTUAL_ENV_DISABLE_PROMPT=1

