#!/bin/bash
# ────────────────────────────────────────────────────────────
# 📝 Direnv Auto-Activation for Virtual Environment (venv)
# This script automatically activates the Python virtual environment
# when entering the project directory and unloads it when leaving.
# ────────────────────────────────────────────────────────────

echo "____________________________ Direnv Activated __________________________________"
echo "📝 Exporting environment variables from .env file to shell"
# Load environment variables from .env
#  export "$(grep -v "^#" .env | xargs)"
set -a # Export all variables
source .env # Load environment variables from .env file
set +a # Stop exporting variables

# Activate the virtual environment if it exists
if [[ -d "./venv" ]]; then
    source ./venv/bin/activate
fi

echo "📂 Directory: $PWD"
echo "🐍 Virtual Env: $VIRTUAL_ENV"
echo "________________________________________________________________________________"

# 4️⃣ Prevent duplicate virtual environment name in prompt
export VIRTUAL_ENV_DISABLE_PROMPT=1


